<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-4">
    {{#bs-panel}}
      {{single-map lat=model.lat lon=model.lon}}
    {{/bs-panel}}
    {{#bs-panel}}
      {{#if editMode}}
        <h3><span class="glyphicon glyphicon-map-marker"></span> Location</h3>
        <dl>
          <dt>Street</dt>
          <dd>
             {{input type="text" value=content.street class="form-control"}}
          </dd>
          <dt>Number</dt>
          <dd>
             {{input type="text" value=content.number class="form-control"}}
          </dd>
          <dt>City</dt>
          <dd>
             {{input type="text" value=content.city class="form-control"}}
          </dd>
          <dt>ZIP</dt>
          <dd>
             {{input type="text" value=content.zip class="form-control"}}
          </dd>
        </dl>
        <h3><span class="glyphicon glyphicon-user"></span> Owner Contact</h3>
        <dl>
          <dt><span class="glyphicon glyphicon-user"></span> Owner Name</dt>
          <dd>
             {{input type="text" value=content.ownername class="form-control"}}
          </dd>
          <dt><span class="glyphicon glyphicon-earphone"></span> Owner Phone</dt>
          <dd>
             {{input type="text" value=content.ownerphone class="form-control"}}
          </dd>
          <dt><span class="glyphicon glyphicon-envelope"></span> Owner Email</dt>
          <dd>
             {{input type="text" value=content.owneremail class="form-control"}}
          </dd>
        </dl>
        <h3><span class="glyphicon glyphicon-home"></span> Building Info</h3>
        <dl>
          <dt>Size (m²)</dt>
          <dd>
             {{input type="text" value=content.area class="form-control"}}
          </dd>
          <dt>Description</dt>
          <dd>
             {{#textarea value=content.description class="form-control"}}{{/textarea}}
          </dd>
        </dl>
        <h3>Why?</h3>
        <p>Please leave a few words, why you changed this building. Leave useful
        information for those who are also involved in the search. For example, write
        down where and how you acquired the new information
        </p>
        {{#textarea value=content.newcomment class="form-control"}}{{/textarea}}
        {{#bs-button type="default" clicked="leaveEdit"}}
          <span class="glyphicon glyphicon-remove"></span> Cancel 
        {{/bs-button}}
        {{#bs-button type="default" clicked="executeEdit"}}
          <span class="glyphicon glyphicon-pencil"></span> Edit
        {{/bs-button}}
      {{else}}
        {{#bs-button type="default" clicked="enterEdit"}}
          <span class="glyphicon glyphicon-pencil"></span> Edit
        {{/bs-button}}
        <h3><span class="glyphicon glyphicon-map-marker"></span> Location</h3>
        <dl>
          <dt>Street</dt>
          <dd>
             {{model.street}}
          </dd>
          <dt>Number</dt>
          <dd>
             {{model.number}}
          </dd>
          <dt>City</dt>
          <dd>
             {{model.city}}
          </dd>
          <dt>ZIP</dt>
          <dd>
             {{model.zip}}
          </dd>
        </dl>
        <h3><span class="glyphicon glyphicon-user"></span> Owner Contact</h3>
        <dl>
          <dt><span class="glyphicon glyphicon-user"></span> Owner Name</dt>
          <dd>
             {{model.ownername}}
          </dd>
          <dt><span class="glyphicon glyphicon-earphone"></span> Owner Phone</dt>
          <dd>
             {{model.ownerphone}}
          </dd>
          <dt><span class="glyphicon glyphicon-envelope"></span> Owner Email</dt>
          <dd>
             {{model.owneremail}}
          </dd>
        </dl>
        <h3><span class="glyphicon glyphicon-home"></span> Building Info</h3>
        <dl>
          <dt>Size (m²)</dt>
          <dd>
             {{model.area}}
          </dd>
          <dt>Description</dt>
          <dd>
             {{model.description}}
          </dd>
        </dl>
      {{/if}}
    {{/bs-panel}}
   </div>
   <div class="col-md-6">
    {{#bs-panel}}
      <h2><span class="glyphicon glyphicon-comment"></span> Discussion</h2>
      <dl>
        <dt>New Comment:</dt>
        <dd>
          {{#textarea value=content.newcomment class="form-control"}}{{/textarea}}<br>
          {{#bs-button clicked="post" type="default"}}
            <span class="glyphicon glyphicon-comment"></span> Post
          {{/bs-button}}<br>
        </dd>
      </dl>
      {{#each comment in reversecomments}}
          <blockquote>
            <h4>
              <span class="glyphicon glyphicon-comment"></span>
              by {{comment.user.name}} <small>{{fromNow value=comment.date}}</small>
            </h4>
            {{comment.text}}
          </blockquote>
      {{else}}
        <div class="well"> no  comments </div>
      {{/each}}
    {{/bs-panel}}
  </div>
</div>
