<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    {{#each building in model}}
      <div class="row">
        {{#bs-panel}}
            <div class="row">
              <div class="col-md-3">
                <h3><span class="glyphicon glyphicon-map-marker"></span> {{t "index.location"}}</h3>
                <p>{{building.street}} {{building.number}}</p>
                <p>{{building.zip}} {{building.city}}</p>
              </div>
              <div class="col-md-3">
                <h3><span class="glyphicon glyphicon-user"></span> {{t "index.contact"}}</h3>
                <p><span class="glyphicon glyphicon-user"></span> <em>{{t "index.contact_name"}}:</em> {{building.ownername}}</p>
                <p><span class="glyphicon glyphicon-earphone"></span> <em>{{t "index.contact_phone"}}:</em> {{building.ownerphone}}</p>
                <p><span class="glyphicon glyphicon-envelope"></span> <em>{{t "index.contact_email"}}:</em> {{building.owneremail}}</p>
              </div>
              <div class="col-md-3">
                <h3><span class="glyphicon glyphicon-home"></span> {{t "index.info"}}</h3>
                <p>{{t "index.size"}} : {{building.area}}</p>
                <p>{{t "index.status"}} : {{building.textstatus}}</p>
              </div>
              <div class="col-md-3">
                {{#link-to "building" building.id}}{{t "buildings.list.details"}}{{/link-to}}
              </div>
            </div>
        {{/bs-panel}}
      </div> 
    {{else}}
      <div class="well">{{t "buildings.list.nothing"}}</div>
    {{/each}}
  </div>
</div>
  
