<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div style="text-align:center;">
    <img src="/static/img/logo.png" alt="logo" style="padding-left:25px;">
    <p>{{t "application.brand"}}<br>-<br>{{t "index.slogan"}}</p>
    </div>
    {{#if controllers.application.loggedin}}
    {{else}}
      <h2>{{t "index.login"}}</h2>
      <dl>
        <dt>{{t "index.email"}}</dt>
        <dd>
          {{input type="text" value=login.username class="form-control"}}
        </dd>
        <dt>{{t "index.password"}}</dt>
        <dd>
          {{input type="password" value=login.password class="form-control"}}
        </dd>
      </dl>
      {{#bs-button type="default" clicked="login"}}{{t "index.login"}}{{/bs-button}}
    {{/if}}
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6 buildingform" >
    <h2>{{t "index.postheading"}}</h2>
    <h3><span class="glyphicon glyphicon-map-marker"></span> {{t "index.location"}}</h3>
    <dl>
      <dt>{{t "index.street"}}</dt>
      <dd>
         {{input type="text" value=building.street class="form-control"}}
      </dd>
      <dt>{{t "index.number"}}</dt>
      <dd>
         {{input type="text" value=building.number class="form-control"}}
      </dd>
      <dt>{{t "index.city"}}</dt>
      <dd>
         {{input type="text" value=building.city class="form-control"}}
      </dd>
      <dt>{{t "index.zip"}}</dt>
      <dd>
         {{input type="text" value=building.zip class="form-control"}}
      </dd>
    </dl>
    <h3><span class="glyphicon glyphicon-user"></span> {{t "index.contact"}}</h3>
    <dl>
      <dt><span class="glyphicon glyphicon-user"></span> {{t "index.contact_name"}}</dt>
      <dd>
         {{input type="text" value=building.ownername class="form-control"}}
      </dd>
      <dt><span class="glyphicon glyphicon-earphone"></span> {{t "index.contact_phone"}}</dt>
      <dd>
         {{input type="text" value=building.ownerphone class="form-control"}}
      </dd>
      <dt><span class="glyphicon glyphicon-envelope"></span> {{t "index.contact_email"}}</dt>
      <dd>
         {{input type="text" value=building.owneremail class="form-control"}}
      </dd>
    </dl>
    <h3><span class="glyphicon glyphicon-home"></span> {{t "index.info"}}</h3>
    <dl>
      <dt>{{t "index.size"}}</dt>
      <dd>
         {{input type="text" value=building.area class="form-control"}}
      </dd>
      <dt>{{t "index.description"}}</dt>
      <dd>
         {{#textarea value=building.description class="form-control"}}{{/textarea}}
      </dd>
    </dl> 
    {{#bs-button type="default" clicked="post_building"}}{{t "index.post"}}{{/bs-button}}
  </div>
  <div class="col-md-1"></div>
</div>

