<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>{{t invitations.new.heading}}</h1>
    <p> 
      {{t invitations.new.text}}
    </p>
    {{input type="text" value=model.email placeholder="someone@somewhere.org" class="form-control"}}
    <br>
    {{#bs-button type="default" clicked="invite"}}
      <span class="glyphicon glyphicon-plus"></span> {{t invitations.new.invite}}
    {{/bs-button}}
    <br>
    {{#if linkPresent}}
      <p>
        {{t invitations.new.linktext}}
        {{#textarea class="form-control" value=inviteLink}}{{/textarea}}
      </p>
    {{/if}}
  </div>
  <div class="col-md-1"></div>
</div>
